.jcarousel-skin-tango{
    height: 200px;
    padding-left: 38px;
    padding-right: 38px;
    background: #b7b8ba; /* Old browsers */
    background: -moz-linear-gradient(top,  #b7b8ba 0%, #d5d6d8 28%, #e3e4e6 56%, #e3e4e6 100%, #c8cfd5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b7b8ba), color-stop(28%,#d5d6d8), color-stop(56%,#e3e4e6), color-stop(100%,#e3e4e6), color-stop(100%,#c8cfd5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b7b8ba 0%,#d5d6d8 28%,#e3e4e6 56%,#e3e4e6 100%,#c8cfd5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b7b8ba 0%,#d5d6d8 28%,#e3e4e6 56%,#e3e4e6 100%,#c8cfd5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b7b8ba 0%,#d5d6d8 28%,#e3e4e6 56%,#e3e4e6 100%,#c8cfd5 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #b7b8ba 0%,#d5d6d8 28%,#e3e4e6 56%,#e3e4e6 100%,#c8cfd5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7b8ba', endColorstr='#c8cfd5',GradientType=0 ); /* IE6-9 */
    
}
.featured-products-portlet .portlet-body {
    background: #b7b8ba; /* Old browsers */
    background: -moz-linear-gradient(top,  #b7b8ba 0%, #d5d6d8 28%, #e3e4e6 56%, #e3e4e6 100%, #c8cfd5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b7b8ba), color-stop(28%,#d5d6d8), color-stop(56%,#e3e4e6), color-stop(100%,#e3e4e6), color-stop(100%,#c8cfd5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b7b8ba 0%,#d5d6d8 28%,#e3e4e6 56%,#e3e4e6 100%,#c8cfd5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b7b8ba 0%,#d5d6d8 28%,#e3e4e6 56%,#e3e4e6 100%,#c8cfd5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b7b8ba 0%,#d5d6d8 28%,#e3e4e6 56%,#e3e4e6 100%,#c8cfd5 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #b7b8ba 0%,#d5d6d8 28%,#e3e4e6 56%,#e3e4e6 100%,#c8cfd5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7b8ba', endColorstr='#c8cfd5',GradientType=0 ); /* IE6-9 */
    border-bottom: 3px solid #77adad;
}
.featured-products-portlet .portlet-item {
    display: inline-block;
    text-align: center;
    width: 143px;
}
.portlet-item.horizontal {
    width: 143px;
    display: inline-block;
    text-align: center;
    float: none;
}
#topseller-carousel .portlet-item {
display: inline-block;
text-align: center;
width: 143px;
}
.portlet-item.last.horizontal {
    width: 143px;
    display: inline-block;
    text-align: center;
    float: none;
}
.jcarousel-skin-tango .jcarousel-container {
    background: none;
    border: 1px solid #346F97;
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 200px;
    border: 0;
    border-radius: 0;
} 
.jcarousel-skin-tango .jcarousel-container-vertical {
    width: 75px;
    height: 200px;
    padding: 40px 20px;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width: 100%;
    height: 75px;
    margin: auto;
    height: 200px;
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
    width:  75px;
    height: 200px;
}

.jcarousel-skin-tango .jcarousel-item {
    height: 200px;
    text-align: center;
    width: 200px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;

}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    color: #000;
    display: none;
}
/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 75px;
    right: -36px;
    width: 32px;
    height: 43px;
    cursor: pointer;
    background: transparent url(next-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(prev-horizontal.png);
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 75px;
    left: -35px;
    width: 32px;
    height: 43px;
    cursor: pointer;
    background: transparent url(prev-horizontal.png) no-repeat 0 0;
}



.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}
#portlet-tabs [id^="tabs-"] {
    width: 91%;
    height: 321px;
}
.ui-tabs .ui-tabs-panel {
    padding: 1em 41px;
}
#portlet-tabs .ui-tabs-nav li {
    padding: 0 1px;
    margin: 0px 1px;
}
#portlet-tabs .ui-tabs-nav {
    margin: 0 8px;
}
 .ui-tabs .ui-tabs-nav li a:hover {
    background: none;
 }
