{% extends "lfs/customer/base.html" %}
{% load i18n %}
{% load lfs_tags %}

{% block section %}my-account{% endblock %}



{% block content %}
<div class="row-fluid"><div class="span12">
    {% block breadcrumbs %}
    {% breadcrumbs _("Your Account") %}
{% endblock %}
<div class="page-header">
<h1>{% trans "Welcome!" %}</h1>
</div>

<p>{% trans "Welcome to your account. Here you can find your orders, you can change your addresses, email address and your password." %}</p>

<address>
    {% if shop.first_name_required %}
    <strong>{% trans 'First name' %}:</strong>
        {% if customer.first_name %}
           {{ customer.first_name }}
            <a href="{% url lfs_edit_first_name %}" class="modal-link">{% trans 'Edit' %}</a>
        {% else %}
            <a href="{% url lfs_add_first_name %}" class="modal-link">{% trans 'Add' %}</a>
        {% endif %}
      <br>
    {% endif %}

    {% if shop.last_name_required %}
    <strong>{% trans 'Last name' %}:</strong>
        {% if customer.last_name %}
           {{ customer.last_name }}
            <a href="{% url lfs_edit_last_name %}" class="modal-link">{% trans 'Edit' %}</a>
        {% else %}
            <a href="{% url lfs_add_last_name %}" class="modal-link">{% trans 'Add' %}</a>
        {% endif %}
      <br>
    {% endif %}  

    {% if shop.FIO_required %}
    <strong>{% trans 'FIO' %}:</strong>
        {% if customer.FIO %}
           {{ customer.FIO }}
            <a href="{% url lfs_edit_fio %}" class="modal-link">{% trans 'Edit' %}</a>
        {% else %}
            <a href="{% url lfs_add_fio %}" class="modal-link">{% trans 'Add' %}</a>
        {% endif %}
      <br>
    {% endif %}  

    {% if shop.date_of_birthday_required %}
    <strong>{% trans 'Date of birthday' %}:</strong>
        {% if customer.date_of_birthday %}
           {{ customer.date_of_birthday }}
            <a href="{% url lfs_edit_date_of_birthday %}" class="modal-link">{% trans 'Edit' %}</a>
        {% else %}
            <a href="{% url lfs_add_date_of_birthday %}" class="modal-link">{% trans 'Add' %}</a>
        {% endif %}
      <br>
    {% endif %}  

    {% if customer.user.email %}
        <strong>{% trans 'Email' %}:</strong> {{ customer.user.email }}<br>
    {% endif %}
</address>

<div id="customer-phones" class="row-fluid">
    {{ phones|safe }}
</div>

<div id="customer-addresses" class="row-fluid">
    {{ addresses|safe }}
</div>

</div></div>
<script type="text/javascript">
    function delete_phone(phone_id) {
        var t = confirm("{% trans 'Вы действительно хотите удалить телефонный норме?' %}");
        if(t) {
            window.location = '/delete-phone/' + phone_id + '/';
        }
    }
    function make_major_phone(phone_id) {
        var t = confirm("{% trans 'Вы действительно хотите сделать этот номер телефона основным?' %}");
        if(t) {
            window.location = '/make-major-phone/' + phone_id + '/';
        }
    }
    function delete_address(address_id) {
        var t = confirm("{% trans 'Вы действительно хотите удалить адрес?' %}");
        if(t) {
            window.location = '/delete-address/' + address_id + '/';
        }
    }
    function make_major_address(address_id) {
        var t = confirm("{% trans 'Вы действительно хотите сделать этот адрес основным?' %}");
        if(t) {
            window.location = '/make-major-address/' + address_id + '/';
        }
    }
</script>
{% endblock %}
