{% extends "lfs/base.html" %}
{% load i18n %}
{% load lfs_tags %}
{% block title %}{% trans 'Password reset complete' %}{% endblock %}
{% block section %}password-reset-complete{% endblock %}
{% block left-slot-wrapper%}{% endblock %}
{% block right-slot-wrapper%}{% endblock %}
{% block middle-slot %}{% endblock %}
{% load bootstrap_toolkit %}

{% block breadcrumbs %}
    {% breadcrumbs _("Password reset") %}
{% endblock %}

{% block content %}
    <h1 class="first-heading">
        {% trans 'Password reset complete' %}
    </h1>
    <p>
        {% trans "Your password has been set. You may go ahead and log in now." %}
    </p>
    <p>
        <a href="/login">{% trans 'Log in' %}</a>
    </p>
{% endblock %}

{% block body_bottom %}
    <script>
        mediator.publish('change_slots_width', "span3", "span6", "span12");
    </script>
{% endblock %}

