{% extends "lfs/base.html" %}
{% load i18n %}
{% load lfs_tags %}
{% load bootstrap_toolkit %}

{% block title %}
    {% trans 'Contact form' %} - {{ block.super }}
{% endblock %}

{% block section %}contact-form{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs _("Contact") %}
{% endblock %}

{% block content %}
<div class="page-header">
    <h1 class="first-heading">{% trans 'Contact form' %}</h1>
</div>
    <p class="message">
        {% trans 'Please leave us a message. We will answer as soon as possible.' %}
    </p>

    <form action="{% url lfs_contact_form %}"
          method="post" class="form-vertical">

        {% csrf_token %}
        {% include "lfs/shop/lfs_form.html" %}

        <div class="form-actions">
            <button class="btn btn-primary"
                   type="submit">{% trans 'Send' %}</button>
        </div>
    </form>

{% endblock %}
{% block middle-slot %}{% endblock %}