{% load i18n %}
{% load mptt_tags %}
{% load lfs_tags %}
{% if categories %}
<div id="v-menu">
<div id="main-nav">
        <ul>

    {% for category,structure in categories|tree_info %}    
    {% if forloop.first %}
    {% if structure.new_level %}<li class="level-{{ category.level }}" id="category-item-{{ category.id }}">{% else %}</li><li class="level-{{ category.level }}">{% endif %}
    {% else %}
    {% if structure.new_level %}<ul  id="category-submenu-{{ category.id }}" class="sub_menu"><li class="level-{{ category.level }}" id="category-item-{{ category.id }}">{% else %}</li><li class="level-{{ category.level }}">{% endif %}
    {% endif %}
    <a {% if category.id == current_id %}class="current"{% endif %}
           href="{{ category.get_absolute_url }}">
            {{ category.name }}</a><span></span> 
    {% for level in structure.closed_levels %}</li></ul>{% endfor %}
    {% endfor %}
</ul>
</div>
</div>
<script type="text/javascript">
{% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
{% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}

</script>
{% endif %}
