{% load i18n %}
{% load lfs_tags %}
<div class="filter-portlet-container">
{% if show and product_filters %}
<div class="filtered-navigation-portlet portlet">
    <div class="portlet-header">
        <h4>{{ title }} <a href="{% url lfs_category category.slug %}" title="{% trans 'Reset all' %}"><i class="icon-remove-circle"></i></a></h4>
    </div>

    <div class="portlet-body">
        <input type='hidden' id="use_after_choose" value='{{ use_after_choose }}' />
        <form id="filter-portlet-form-{{ slot_name }}-{{ portlet_id }}" method="GET">
            {% for filter in product_filters %}
                <div class="filter-block">        
                    {% include filter.template_name %}
                </div>
            {% endfor %}
            <div class="filter-actions">
                <a class="btn" href="{% url lfs_category category.slug %}" title="{% trans 'Reset all' %}">{% trans "Очистить" %}</a>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
{% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
{% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
</script>
{% endif %}
</div>