{% load i18n %}
{% if not ajax %}
    <div id="notebook" portlet_assignment_id="{{ portlet_assignment_id }}" slot_name="{{ slot_name }}">
{% endif %}
{% if notebook_list %} 
  <div class="notebook-portlet">  
    <div class="portlet-header"> 
        <h4>{% trans "Notebook" %}</h4>
    </div> 
    <div class="notebook_wrap">
        {% for product in notebook_list %}
        <div class="image-wrapper">
            <a href="{% url lfs_product product.slug %}">
                <img alt="{{ product.name }}" src="{{ product.get_image.image.url_60x60 }}" />
            </a>
        </div>
        <div class="portlet-item">
            <a href="{% url lfs_product product.slug %}">{{ product.name }}</a>
        </div>
        <p class="product-price">{{ product.price|floatformat:2 }} {{ SHOP.default_currency.abbr }}</p>
        {% endfor %}
    </div>
    <a class="btn btn-info" href="{% url lfs_notebook %}">{% trans "Notebook" %}</a>
    <script type="text/javascript">
        {% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
        {% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
    </script>
</div>
{% endif %}
{% if not ajax %}
</div>
{% endif %}
{% if init %}
 <script type="text/javascript">
      var id = $('#notebook').attr('portlet_assignment_id')
      $.ajax({
          url: "/notebook/ajax-load/" + id + "/",
          dataType: "json",
          success: function(msg){
              $('#notebook')[0].innerHTML = msg['html']
              mediator.publish('run_scripts_from', $('#notebook')[0].innerHTML)
              page_designer.page_rebuild();
          }
      });
  </script>
{% endif %}