{% load i18n %}
{% load lfs_tags %}

{% if products %}
    <div class="recent-products-portlet portlet">
        <div class="portlet-header">
            <h4>{{ title }}</h4>
        </div>
        <div class="portlet-body">
            {% for product in products %}
            <div class="image-wrapper">
                                {% if product.get_image %}
                                <a href="{{ product.get_absolute_url }}">        
                                    <img alt="{{ product.name }}" src="{{ product.get_image.image.url_100x100 }}" />        </a>
                                {% else %}
                                <img src="{{ STATIC_URL }}img/100x100.gif" alt="{{ product.get_image.title }}"
                                class="product-image" />
                                {% endif %}                
            </div>
            <div class="portlet-item {% if forloop.last %}last{% endif %}">
                <a href="{{ product.get_absolute_url }}">
                    {{ product.get_name }}
                </a>
            </div>
             <p class="product-price">{{ product.price|floatformat:2 }} {{ SHOP.default_currency.abbr }}</p>
            {% endfor %}
        </div>
    </div>
<script type="text/javascript">
{% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
{% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
</script>
{% endif %}
